
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Welcome to book store application</h1>
    <h1>@DateTime.Now.ToString("yy-MM-dd")</h1>
</div>
</body>
</html>