@model SignInModel
@{
    Layout = "_Layout";
}
<div class="container">
    <form asp-controller="Account" asp-action="Login" method="post">
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label class="form-label" asp-for="Email"></label>
            <input class="form-control" asp-for="Email" aria-describedby="emailHelp">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Password"></label>
            <input class="form-control" asp-for="Password" aria-describedby="emailHelp">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3 form-check">
                <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                <label class="form-label" asp-for="RememberMe"></label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>